<?xml version="1.0"?>
<robot name="coord">
    <link name="base" />
    <link name="coord_x">
        <inertial>
            <mass value="1.0" />
            <origin xyz="0 0 0.0" rpy="0 0 0"/>
            <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.0" rpy="0 0 0" />
            <geometry>
                <box size="0.25 0.005 0.005" />
            </geometry>
            <material name="Grey">
                <color rgba ="1.0 0.2 0.2 1.0"/>
            </material>
        </visual>
    </link>
    <joint name="coord_jx" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="base" />
        <child link="coord_x" />
    </joint>

    <link name="coord_y">
        <inertial>
            <mass value="1.0" />
            <origin xyz="0 0 0.0" rpy="0 0 0"/>
            <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.0" rpy="0 0 0" />
            <geometry>
                <box size="0.005 0.25 0.005" />
            </geometry>
            <material name="Grey">
                <color rgba ="1.0 0.2 0.2 1.0"/>
            </material>
        </visual>
    </link>
    <joint name="coord_jy" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="base" />
        <child link="coord_y" />
    </joint>

    <link name="coord_z">
        <inertial>
            <mass value="1.0" />
            <origin xyz="0 0 0.0" rpy="0 0 0"/>
            <inertia ixx="1.0" ixy="0" ixz="0" iyy="1.0" iyz="0" izz="1.0" />
        </inertial>
        <visual>
            <origin xyz="0 0 0.0" rpy="0 0 0" />
            <geometry>
                <box size="0.005 0.005 0.25" />
            </geometry>
            <material name="Grey">
                <color rgba ="1.0 0.2 0.2 1.0"/>
            </material>
        </visual>
    </link>
    <joint name="coord_jz" type="fixed">
        <origin xyz="0 0 0" rpy="0 0 0" />
        <parent link="base" />
        <child link="coord_z" />
    </joint>

</robot>
